<div id="app">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">メッセージ反転</button>
  <p>{{ number }}</p>
  <p>{{ ok ? "YES" : "NO"}}</p>
  <p>{{ sayHi() }}</p>
  <p v-text="message"></p>
</div>

  <p>v-onはvue.jsが用意している特別な属性</p>
  <p>テンプレートを書くための構文＝テンプレート構文→divで囲った３行</p>
  <p>HTMLを書いているのではなく、vue.jsテンプレートを書いているに過ぎない</p>
  <br>
  <p>二重中括弧の中身はdataにあるプロパティをそのまま表示される。</p>
  <p>data.messageというふうに書かないことを注意</p>
  <p>二重中括弧の中には、JSの構文(単一の式)や三項演算子を書くことも可能</p>
  <br>
  <p>インスタンス内でインスタンスに接続する際(methodsからdataにアクセスする際)はthisを付ける必要がある。</p>
  <br>
  <p>ディレクティブ＝vue.js専用の特別な属性(例：v-text)</p>
  <p>例えばv-textは二重中括弧で表示するのと同じ意味を持つ</p>

<script>
  new Vue({
    el: "#app",
    data:{
      message: "Hello World!",
      number: 3,
      ok: false
    },
    methods:{
      reverseMessage: function(){
        this.message = this.message.split("").reverse().join("")
      },
      sayHi: function(){
        this.message = "Hello World"
        return "Hi"
      }
    }
  })
</script>
